h1,
h2 {
    font-size: 40px;
    color: black;
    text-align: center;
}

body {
    background-image: url(madera.jpeg);
}

#colors {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 60px);
}

#colors p {
    text-align: center;
}

.bloque_titulo {
    text-align: center;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 7;
}

.bloque3 {
    grid-column-start: 4;
    grid-column-end: 7;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.teal {
    background-color: teal;
}

.blue {
    background-color: blue;
}

.navy {
    background-color: navy;
}

.lime {
    background-color: lime;
}

.white {
    background-color: white;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.olive {
    background-color: olive;
}

.red {
    background-color: red;
}

.gray {
    background-color: gray;
}

.fuchsia {
    background-color: fuchsia;
}

#fonts {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 60px);
    gap: 3px;
}

#fonts p {
    font-size: 25px;
    font-weight: bold;
}

.f-green {
    color: green;
}

.f-black {
    color: black;
}

.f-teal {
    color: teal;
}

.f-blue {
    color: blue;
}

.f-navy {
    color: navy;
}

.f-lime {
    color: lime;
}

.f-white {
    color: white;
}

.f-purple {
    color: purple;
}

.f-yellow {
    color: yellow;
}

.f-olive {
    color: olive;
}

.f-red {
    color: red;
}

.f-gray {
    color: gray;
}

.f-fuchsia {
    color: fuchsia;
}

.f-aqua {
    color: aqua;
}

.f-silver {
    color: silver;
}